doctype html
html
  head
    title Listen
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    script(src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous")

    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript', src='js/sorttable.js')
  body
    h1 Flumen

    section.playlistSection
      table#playlistTable.darkTable.sortable
        thead
          tr
            th Playlists
        tbody
