doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='css/style-mobile.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css')

    script(src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous")

    script(type='text/javascript', src='js/app-mobile.js')
    script(type='text/javascript', src='js/sorttable.js')
  body
    h1 Flumen (Mobile)
    section.playlistSection
      table#playlistTable.darkTable.sortable
        thead
          tr
            th
            th Song
            th
              span.fa.fa-clock-o
        tbody
    div#footer
      .song-info-and-volume
        .song-info
          span#currSong
          br
          br
          span#currArtist
        .volume-slider
          div#volume-div.volume-slider-inner
            div.volume-symbol-left
              i.fa.fa-volume-down.fa-2x
            div.fader
              input#fader(type='range', min='0', max='100', value='100', step='1', oninput='outputUpdate(value)')
            div.volume-symbol-right
              i.fa.fa-volume-up.fa-2x
      .action
        a.shuffle.active(href='#')
          i.fa.fa-random.fa-3x
        a.previous.jcarousel-prev(href='#')
          i.fa.fa-step-backward.fa-3x
        a.play(href='#')
          i.fa.fa-play.fa-fw.fa-2x
        a.next.jcarousel-next(href='#')
          i.fa.fa-step-forward.fa-3x
        a.replay(href='#')
          i.fa.fa-refresh.fa-3x
      .length
          span#current-time --:--
          span#total-time --:--
          input#timeSlider(type='range', min='0', max='1000', value='0', step='.1')
          output.duration(for='timeSlider')
          


